node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/



/api_example/package.json
/api_example/package-lock.json
/pom_example/package.json
/pom_example/package-lock.json



